.o_list_renderer .o_data_row:not(.o_selected_row) {
    .o_data_cell.o_prelog_include_checkbox_cell
        > .o_field_widget:not(.o_readonly_modifier)
        .form-check {
        pointer-events: auto;
    }
}

.o_prelog_send_progress_dialog {
    .btn-close {
        display: none;
    }

    .o_prelog_send_progress_bar {
        height: 2rem;
        font-size: 1rem;
    }
}
